ul{list-style-type: none;
    width: 20%;
    padding: 0%;}

li a{display: block;
    background-color: lightcoral;
    padding: 14px;
    text-decoration: none;}

li a:hover{background-color: lightpink;}

li a.activo{background-color:darkcyan;
    color: white;}